				body {
					 background-color: #add8a6;
					 font-family: Arial;
					 width: 25%;
					 margin-left: auto;
					 margin-right: auto;
				}

				h1 {
					color: black;
					text-align: center;
					
				}

				h4{
				   color:black;
				}   
				.contanier img {
					max-width: 300px;
					max-height: 300px;
					width: auto;
					height: auto; 
					width: 25%;
					margin-left: auto;
					margin-right: auto;
				}	