				body {
					 background-color:#A020F0;
					 font-family:tahoma;
					 width: 25%;
					 margin-left: auto;
					 margin-right: auto;
				}
				h1 {
					color: rgb(255,255,255);
					text-align: center;					
				}
				h4{
				   color:rgb(255,255,255);
				}   
				.contanier img {
					max-width: 279px;
					max-height: 360px;
					width: auto;
					height: auto; 					
				}	